h1
{
    color: red;
    text-align: center;
}
body
{
     border-width:10px;
background-image: url("../Images/casino.jpg");
}

 .contain
 {
  border-width:10px;
  border-style:solid;
  border-color: red;
  background-color: green;
 }
 
 
 .player
 {
     display:inline;
     width: 72px;
     height: 96px;
    
 }
 
 .playerLayout
 {
     display: block;
     margin-right: auto;
     margin-left: auto;
     margin-top: 10px;
     border: inset;
     
     
 }
 
 .card
 {
     display: inline-block;
     width: 72px;
     height: 96px;
     
 }
 
 .score
 {
     display: inline;
     width:  140px;
     height: 96px;
     border: solid;
     float: right;
     font-size:100px; 
 }
 
 .winnerCard
 {
     border: solid;
     color: gold;
     font-size: 75px;
   
 }
 .P1
 { 
     display:inline;
     width:150px;
     font-size:50px;
 }